html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 112px;
}

@media only screen and (max-width:768px){
  body {
    margin-bottom: 290px;
  }

  .cardproduto {
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
} 

.pagina100 {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.titles {
  font-family: "Verdana";
  font-weight: bold;
  font-size: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar a {
  color: black;
}

.navbar a:visited {
  color: black;
}

.navbar a:hover {
  color: darkred;
}

.navbar .btn-danger {
  color: white !important;
}

.navbar .btn-danger:hover {
  color: darkorange;
}

#prev {
  background: url("../img/prev.svg") no-repeat left center !important;
  left: -7px;
  width: 4%;
}

#next {
  background: url("../img/next.svg") no-repeat right center !important;
  right: -7px;
  width: 4%;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: #ffc107;
}

#carouselAnuncio .carousel-item{
  height: 300px;
  overflow: hidden;
  width: 100%;
}

#carouselAnuncio .carousel-item img {
  width: 100%;
  min-height: 300px;
}

.jumbotron {
  background-color: transparent;
}

.cardproduto{
  height: 100%;
  width: 220px;
}

.slides:hover{
  cursor: pointer;
}

.selecionado{
  opacity: 0.7;
  background-image: url('../img/alterar.png');
  background-position-x: center;
  background-repeat: no-repeat;
}